___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
# Modulus function: returns what remains after a division
4 % 2

0

In [6]:
5 % 2

1

In [7]:
3%2

1

In [8]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [9]:
# Can not start with number or special characters
name_of_var = 2

In [10]:
x = 2
y = 3

In [11]:
z = x + y

In [12]:
z

5

### Strings

In [13]:
'single quotes'

'single quotes'

In [14]:
"double quotes"

'double quotes'

In [15]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [16]:
x = 'hello'

In [17]:
x

'hello'

In [18]:
print(x)

hello

In [19]:
num = 12
name = 'Sam'

In [20]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [21]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [22]:
s = 'hello'

In [23]:
# Indexing. Important to remember that indexing in Python starts at zero.
s[1]

'e'

In [24]:
s[4]

'o'

In [25]:
s = 'abcdefghijk'

In [26]:
# Grab everything beyond zero:
s[0:]

'abcdefghijk'

In [27]:
# Let's now grab everything up to but not including index 3
# index 3 is d, so I expect to return 'abc'
s[:3]

'abc'

In [28]:
s[3:6]

'def'

In [29]:
s[6:]

'ghijk'

### Lists
A sequence of elements in square brackets separated by commas
Lists can take in any data type (including strings)

In [30]:
[1,2,3]

[1, 2, 3]

In [31]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [32]:
my_list = ['a','b','c']

In [33]:
my_list.append('d')

In [34]:
my_list

['a', 'b', 'c', 'd']

In [35]:
my_list[0]

'a'

In [36]:
my_list[1]

'b'

In [37]:
my_list[1:]

['b', 'c', 'd']

In [38]:
my_list[:1]

['a']

In [39]:
my_list[0] = 'NEW'

In [40]:
my_list

['NEW', 'b', 'c', 'd']

In [41]:
nest = [1,2,3,[4,5,['target']]]

In [42]:
nest[3]
# list indexing starts by zero.
# Therefore nest[0] = 1
# nest[1] = 2
# nest[2] = 3
# and then
# nest[3] = the fourth element of the list.
# And the fourth element is another list containng [4,5,[target]].

[4, 5, ['target']]

In [43]:
nest[3][:2]

[4, 5]

In [44]:
nest[3][2]

['target']

In [45]:
nest[3][2][0]

'target'

### Dictionaries

In [46]:
d = {'key1':'item1','key2':'item2'}

In [47]:
d

{'key1': 'item1', 'key2': 'item2'}

In [48]:
d['key1']

'item1'

In [49]:
d['key2']

'item2'

In [50]:
d = {'k1':[1,2,3]}

In [51]:
my_list = d['k1']

In [52]:
my_list[0]

1

In [53]:
d = {'k1':{'innerkey':[1,2,3]}}

In [54]:
d['k1']['innerkey'][2]

3

### Booleans

In [55]:
True

True

In [56]:
False

False

### Tuples

In [57]:
t = (1,2,3)

In [58]:
t[0]

1

In [59]:
my_list[0] = 'NEW'

In [60]:
my_list

['NEW', 2, 3]

In [61]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [62]:
# tuple is immutable, can't change the items within!

### Sets

In [63]:
{1,2,3}

{1, 2, 3}

In [64]:
# a set is defined only by the unique elements.
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [65]:
# can also run as a function and will only return unique values
set([1,1,1,1,1,2,2,2,5,5,5,7,7,7])

{1, 2, 5, 7}

In [66]:
s = {1,2,3}

In [67]:
s.add(5)

In [68]:
s

{1, 2, 3, 5}

## Comparison Operators

In [69]:
1 > 2

False

In [70]:
1 < 2

True

In [71]:
1 >= 1

True

In [72]:
1 <= 4

True

In [73]:
1 == 1

True

In [74]:
1 != 3

True

In [75]:
'hi' == 'bye'

False

In [76]:
'hi' != 'bye'

True

## Logic Operators

In [77]:
(1 < 2) and (2 < 3) # With AND operator, all expressions must be true

True

In [78]:
(1 > 2) and (2 < 3)

False

In [79]:
(1 > 2) or (2 < 3) # only one has to be true

True

In [80]:
(1 == 2) or (2 == 3) or (4 == 4) # only one has to be true

True

## if,elif, else Statements

In [81]:
if 1 < 2:
    print('Yep!')

Yep!

In [82]:
if 1 < 2:
    print('yep!')

yep!

In [83]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [84]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [85]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [86]:
seq = [1,2,3,4,5]

In [87]:
for item in seq:
    print(item)

1
2
3
4
5

In [88]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [89]:
for num in seq:
    print(num)

1
2
3
4
5

In [90]:
for jelly in seq:
    print(jelly)

1
2
3
4
5

## while Loops

In [91]:
i = 1
while i <= 5:
    print('i is: {}'.format(i))
    i = i+1 # if I don't have this line, it will become an infinite while loop because i will always be less than 5

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5

## range()

In [92]:
range(5) # specifies how many elements

range(0, 5)

In [93]:
list(range(5))

[0, 1, 2, 3, 4]

In [94]:
for i in range(5):
    print(i)

0
1
2
3
4

In [95]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [96]:
x = [1,2,3,4]

In [97]:
out = []

for num in x:
    out.append(num**2) # I squared the values in the list
print(out)

[1, 4, 9, 16]

In [98]:
# List comprehension:
[num**2 for num in x] # where x is the list above

[1, 4, 9, 16]

## functions

In [99]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [100]:
def srishti_func(name = 'Default Name'):
    """
    My first function.
    """
    print('Hello ' +name)

In [101]:
srishti_func('Srish')

Hello Srish

In [102]:
my_func

In [103]:
my_func()

default

In [104]:
srishti_func()

Hello Default Name

In [105]:
my_func('new param')

new param

In [106]:
my_func(param1='new param')

new param

In [107]:
def square(x):
    return x**2

In [108]:
out = square(2)

In [109]:
print(out)

4

In [110]:
# Shift + Tab to look into the function!
square

In [111]:
srishti_func

## lambda expressions

In [112]:
def times2(var):
    return var*2

In [113]:
times2(2)

4

In [114]:
# Rewriting the function above as one line
lambda var: var*2

In [115]:
t = lambda var: var*2

In [116]:
t(6)

12

## map and filter

In [117]:
seq = [1,2,3,4,5]

In [118]:
map(times2,seq)

In [119]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [120]:
# Rewriting the entire function to a single line of code. Now let's create a list using this:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [121]:
# filter out elements from a sequence:
filter(lambda item: item%2 == 0,seq)
# return only those values that have no remainder

In [122]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [123]:
st = 'hello my name is Sam'

In [124]:
st.lower()

'hello my name is sam'

In [125]:
st.upper()

'HELLO MY NAME IS SAM'

In [126]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [127]:
tweet = 'Go Sports! #Sports'

In [128]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [129]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [130]:
tweet.split('#')[1]

'Sports'

In [131]:
d = {'k1':1, 'k2':2}

In [132]:
d.keys()

dict_keys(['k1', 'k2'])

In [133]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [134]:
d.values()

dict_values([1, 2])

In [135]:
lst = [1,2,3]

In [136]:
# pop out and return the last item of a list
lst.pop()

3

In [137]:
lst

[1, 2]

In [138]:
'x' in [1,2,3]

False

In [139]:
'x' in ['x','y','z']

True

## Tuple Unpacking

In [140]:
x = [(1,2),(3,4),(5,6)]

In [141]:
# Print out all tuples:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [142]:
# unpack a few items within tuples:
for a,b in x:
    print(b)

2
4
6

# Great Job!